#game
  header
    font-size: 1.8em
    margin: 1em 0 0.5em 0

#game-board
  width: 400px
  height: 400px
  line-height: 0
  margin: 0 auto
  font-size: 1.4em


  div
    overflow: hidden
    box-sizing: border-box
    display: inline-block
    width: 20px
    height: 20px

    border: solid 1px #ccc
    line-height: 20px

